@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    color: white;
    font-family: 'Creepster', cursive;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #343541;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 33px;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 11px;
    padding: 10px;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    font-size: 20px;
    padding: 12px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
        rgba(0, 0, 0, 0.05) 0 -12px 30px,
        rgba(0, 0, 0, 0.05) 0 4px 6px,
        rgba(0, 0, 0, 0.05) 0 12px 3px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

input:focus {
    outline: none;
}

.input-container {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 650px;
    z-index: 1;
}

.input-container #submit {
    position: absolute;
    right: 0;
    bottom: 0px;
    cursor: pointer;
    width: 56px;
    height: 56px;
}

button {
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.image-container {
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 1px;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.loader {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: loaderAnimation 2s ease-in-out infinite;
}

.loader:before {
    background-color: rgba(255, 255, 255, 0.2);
    animation-delay: 0.1s;
}

.loader:after {
    background-color: rgba(255, 255, 255, 0.4);
    animation-delay: 0.2s;
}

@keyframes loaderAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.loader:not(.visible) {
    display: none;
}

#output-container {
    flex: 1;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px 30px;
}

.message {
    background-color: #202123;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 40%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.user_message{
    background-color: #4f505c;
    margin-left: auto;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}